<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
    </head>
    <body>
            ret = <%= JSON.parse(userinfo).ret %> </br>
            msg = <%= JSON.parse(userinfo).msg %> </br>
            is_lost = <%= JSON.parse(userinfo).is_lost %> </br>
            nickname = <%= JSON.parse(userinfo).nickname %> </br>
            gender = <%= JSON.parse(userinfo).gender %> </br>
            province = <%= JSON.parse(userinfo).province %> </br>
            city = <%= JSON.parse(userinfo).city %> </br>
            year = <%= JSON.parse(userinfo).year %> </br>
            figureurl = <%= JSON.parse(userinfo).figureurl %> </br>
            figureurl_1 = <%= JSON.parse(userinfo).figureurl_1 %> </br>
            figureurl_2 = <%= JSON.parse(userinfo).figureurl_2 %> </br>
            figureurl_qq_1 = <%= JSON.parse(userinfo).figureurl_qq_1 %> </br>
            figureurl_qq_2 = <%= JSON.parse(userinfo).figureurl_qq_2 %> </br>
            is_yellow_vip = <%= JSON.parse(userinfo).is_yellow_vip %> </br>
            vip = <%= JSON.parse(userinfo).vip %> </br>
            yellow_vip_level = <%= JSON.parse(userinfo).yellow_vip_level %> </br>
            level = <%= JSON.parse(userinfo).level %> </br>
            is_yellow_year_vip = <%= JSON.parse(userinfo).is_yellow_year_vip %> </br>
        <pre>
        </pre>
    </body>
</html>