<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
    </head>
    <body>
        <span id="callback_container"></span>
        <!-- <%= userinfo %> -->
        openid = <%= userinfo2.openid %> </br>
        nickname = <%= userinfo2.nickname %> </br>
        sex = <%= userinfo2.sex %> </br>
        language = <%= userinfo2.language %> </br>
        city = <%= userinfo2.city %> </br>
        province = <%= userinfo2.province %> </br>
        country = <%= userinfo2.country %> </br>
        headimgurl = <%= userinfo2.headimgurl %> </br>
        unionid = <%= userinfo2.unionid %> </br>
    </body>
</html>